#container{
  width: 840px;
  height: 760px;
  margin: auto;
  background: #ffb536;
}
#nav{
  width: 13.5%;
  float: left;
  text-align: center;
  background: #ff8800;
  padding: 1%;
  margin: 1%;
}


#header{
  width: 26%;
  float: left;
  text-align: center;
  padding: 1%;
  margin: 1%;
}
#divider{
  width: 100%;
  clear: both;
  text-align: center;
  color: #f59c02;
  background: #f59c02;
}


#sidebar{
  width: 23%;
  height: 657px;
  float: left;
  background: #ff8800;
  padding: 1%;
  margin: 1%;
}
#para1{
  width: 69%;
  height: 312px;
  float: right;
  background: #ff8800;
  padding: 1%;
  margin: 1%;
}
#para2{
  width: 1%;
  float: left;
  background: #ff8800;
  padding: 1%;
  margin: 1%;
}
#para3{
  width: 69%;
  height: 657px;
  float: left;
  background: #ff8800;
  padding: 1%;
  margin: 1%;
}
#para4{
  width: 1%;
  float: left;
  background: #ff8800;
  padding: 1%;
  margin: 1%;
}
#para5{
  width: 1%;
  float: left;
  background: #ff8800;
  padding: 1%;
  margin: 1%;
}
#para6{
  width: 1%;
  float: left;
  background: #ff8800;
  padding: 1%;
  margin: 1%;
}
