#container{
  width: 1200px;
  margin: auto;
  background: lightgray;
}
#nav1{
  width: 56%;
  float: left;
  text-align: center;
  background: lightgreen;
  padding: 1%;
  margin: 1%;
}
#header{
  width: 36%;
  float: left;
  background: green;
  text-align: center;
  padding: 1%;
  margin: 1%;
}
#divider{
  width: 100%;
  clear: both;
  background: black;
}
#para{
  width: 54%;
  float: right;
  background: pink;
  padding: 1%;
  margin: 1%;
}
#sidebar{
  width: 38%;
  float: left;
  background: orange;
  padding: 1%;
  margin: 1%;
}
